<h1>Students list</h1>

<table id="students-datatable" data-source="<%= school_students_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Roll no</th>
      <th>Standard</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script>
  jQuery(document).ready(function() {
    $('#students-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#students-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "birth_date"},
      {"data": "gender"},
      {"data": "roll_no"},
      {"data": "standard"},
      {"data": "email"},
    ]
    });
});
</script>

<%= link_to 'Back' , school_url(@school) %>