  <h1>School's list</h1>

  <%= link_to 'Add New School' , new_school_path %>
  <table id="schools-datatable" data-source="<%= schools_path(format: :json) %>">
  <thead>
    <tr>
      <th>School Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Classes</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script>
  jQuery(document).ready(function() {
  $('#schools-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#schools-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "school_name"},
      {"data": "description"},
      {"data": "address"},
      {"data": "classes"},
    ]
    });
});
</script>